<main class="w-full flex-grow p-6">
  <h1 class="text-3xl text-black pb-6">Dashboard</h1>

  <div class="flex flex-wrap mt-6">
    <div class="w-full lg:w-1/2 pr-0 lg:pr-2">
      <p class="text-xl pb-3 flex items-center">
      <i class="fas fa-plus mr-3"></i> Active Users
      </p>
      <div class="p-6 bg-white">
        <%= @users.where('updated_at > ?', 1.month.ago).count %>
      </div>
    </div>
    <div class="w-full lg:w-1/2 pl-0 lg:pl-2 mt-12 lg:mt-0">
      <p class="text-xl pb-3 flex items-center">
      <i class="fas fa-check mr-3"></i> All Users
      </p>
      <div class="p-6 bg-white">
        <%= @users.count %>
      </div>
    </div>
  </div>
</main>
