<div class="container px-4 mx-auto my-10 lg:px-0">
  <div class="w-full m-auto lg:w-1/2">
    <div class="p-4 bg-white border border-gray-200 dark:bg-gray-900 dark:border-gray-700 rounded-lg shadow-sm lg:p-10">
      <%= yield :form_block %>
    </div>
  </div>
</div>
