<p><%=t ".welcome", email: @user.unconfirmed_email %></p>

<p><%=t ".confirm_below" %></p>

<p><%= link_to t(".confirm"), profile_email_url(confirmation_token: @token) %></p>

<p><%=t ".expiration_notice" %></p>
