<p>We've received a password reset request for your login. If this was you just visit the
  the link below to finish up. If it wasn't you, you can simply ignore this email.</p>

<p><%= link_to "Reset my password", edit_password_reset_url(token: @token) %></p>

<p>This link will expire in 1 hour.</p>
