<header class="w-full items-center bg-white py-2 px-6 hidden sm:flex">
  <div class="w-1/2"></div>

  <div class="relative w-1/2 flex justify-end">
    <button onclick="hideMenu()" class="realtive z-10 w-12 h-12 rounded-full overflow-hidden border-4 border-gray-400 hover:border-gray-300 focus:border-gray-300 focus:outline-none">
      <img src="<%= @grav %>">
    </button>
    <div id="menuBtn" class="absolute w-32 bg-white rounded-lg shadow-lg py-2 mt-16" style="display: none;">
      <%= link_to "Profile", profile_path, class: "block px-4 py-2 account-link hover:text-white" %>
      <%= link_to "Log out", '/logout', method: :delete, class: "block px-4 py-2 account-link hover:text-white" %>
    </div>
  </div>
</header>


